@import "../variables.scss";

.delete-user {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, "16px");
  &__buttons {
    display: flex;
    justify-content: space-between;
   
  }  
}

.edit-user {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, "16px");
  text-align: center;
  &__buttons {
    display: flex;
  }  
}

.ban-user {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, "16px");
  
  &__buttons {
    display: flex;
    justify-content: space-between;
  
    &__options {
      display: flex;
      gap: map-get($spacing, "16px");

    }
  }  
}

.profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: map-get($spacing, "32px" );
  padding: map-get($spacing, "40px") 0;

  &__admin {
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, "16px");
  }

  &__user {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, "16px");

    &__actions{ 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__changepass {
    grid-column: 7/13;
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, "16px");  
    
    &__form {
      display: flex;
      flex-direction: column;
      gap: map-get($spacing, "16px");  

      &--failed {
        background-color: map-get($color, "error" );
        padding: map-get($spacing, "8px");
      }
    }

    &--error {
      background-color: map-get($color, "error" );
      padding: map-get($spacing, "8px");
    }
  }
}