@import "variables.scss";

header {
  border-bottom: 1px solid map-get($color, "dark-blue-66");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: map-get($spacing, "16px");
  padding-bottom: map-get($spacing, "16px");

  &__nav {
    display: flex;
    align-items: center;
    gap: map-get($spacing, "32px");

    &__list {
      display: flex;
      gap: map-get($spacing, "16px");
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: map-get($spacing, "24px");
  }
}

.login-popup {
  display: flex;
  justify-content: center;
}

.under-header {
  background-color: map-get($color, "dark-blue");
  height: 90px;
  padding-top: map-get($spacing, "16px");
  padding-bottom: map-get($spacing, "16px");

  &__search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: map-get($spacing, "16px");
  
    &__input {
      display: flex;
      input {
        border-radius: 10px 0px 0px 10px;
      }
      button {
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
}

.blackout {
  position: fixed;
  background-color: map-get($color, "blackout");
  width: 100%;
  height: 100%;
}