@import "variables.scss";

.popup {
  &__input {
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, "32px");
    padding-bottom: map-get($spacing, "32px");
    margin-bottom: map-get($spacing, "32px");
    border-bottom: 1px solid map-get($color, "dark-blue-66");

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: map-get($spacing, "16px");
      a {
        display: flex;
        align-items: center;
        gap: map-get($spacing, "16px");

        border: 1px solid map-get($color, "dark-blue-66");
        border-radius: 10px;
      }
    }

    &--error {
      width: 100%;
      background-color: map-get($color, "error");
      padding: map-get($spacing, "16px");
    }

    form {
      display: flex;
      flex-direction: column;
      gap: map-get($spacing, "32px");
    }
  }

  a {
    display: flex;
    justify-content: center;
  }
}

//for Blackign out the backgorund and center the popup from top
.blackout-back {
  position: fixed;
  z-index: 1;
  background-color: map-get($color, "blackout");
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;

  &__popup {
    margin-top: map-get($spacing, "32px");
    display: flex;
    justify-content: center;

    &__content {
      padding: map-get($spacing, "32px");
      box-shadow: 0px 0px 12px 5px;
      width: min(544px, 100%);
      background-color: white;
    }
  }
}
